{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card mt-5 shadow rounded p-3 bg-body">
	<div class="row g-0 d-flex align-items-center">
		<div class="col-5">
			<img src="{%static 'media/images/image-login.jpg' %}" class="img-fluid rounded" alt="...">
		</div>
		<div class="col-7">
			<div class="card-body">
				<h3 class="card-title text-center mb-3">Sign in</h3>
				<form method="POST" action="{% url 'user:login' %}" id='form-login' > 
				{% csrf_token %}
					<div class="form-floating mb-3">
						<input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
						<label for="email">Email</label>
					</div>
					<div class="form-floating mb-3">
						<input type="password" class="form-control" id="password" name="password" placeholder="Password" required> 
						<label for="password">Password</label>
					</div>
					<div class="alert alert-danger text-center visually-hidden" role="alert" id="alert">
						Wrong email or password.
					</div>
					<div class="hstack gap-3 col-7 mx-auto">
						<button class="btn btn-primary" type="submit" id="btn-login">
							<span class="spinner-border spinner-border-sm visually-hidden" id='loading' role="status" aria-hidden="true"></span>
							Sign in
						</button>
						<div class="vr"></div>
						<button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#modal-create">
							<i class="bi bi-x-lg " ></i> Register
						</button>
					</div>
				</form>
			</div>
		</div>.
	</div>

</div>

{% comment %} <div class="modal fade" id="modal-create" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Register</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<form method="POST" action="{% url 'user:register' %}" id='form-register' > 
				{% csrf_token %}
				<div class="form-floating mb-3">
					<input type="email" class="form-control" id="email-create" name="email-create" placeholder="name@example.com" required>
					<label for="email">Email</label>
				</div>
				<div class="form-floating mb-3">
					<input type="password" class="form-control" id="password-create" name="password-create" placeholder="Password" required> 
					<label for="password-create">Password</label>
				</div>
				<div class="form-floating mb-3">
					<input type="password" class="form-control" id="password2" name="password2" placeholder="Password2" required> 
					<label for="password2">Repeat password</label>
				</div>
				<div class="alert alert-danger text-center visually-hidden" role="alert" id="alert-create">
					Wrong email or password.
				</div>
				<div class="d-flex justify-content-center">
					<button class="btn btn-primary" type="submit" id="btn-create">
						<i class="bi bi-bookmark-check"></i> Sign in
					</button>
				</div>
			</form>
		</div>
		
	</div>
	</div>
</div> {% endcomment %}
{% endblock content %}

{% block js%}
	<script src="{% static 'user/js/functions.js' %} "></script>

{%endblock%}